{{ define "main" }}
<header>
    <h1>{{ .Params.Title }}</h1>
</header>

{{.Content}}
<ul class="all-posts">
{{ range .Site.Menus.code }}
<li><a href="{{ .URL |relURL }}">{{.Title}} </a></li>
{{end}}
</ul>
{{ end }}