---
title: "Email Signup"
date: 2021-03-22T21:52:29-07:00
draft: false
description: "Ethan Myers Email Subscribe Page"
---

<h3>
	Mailing list
</h3>

<p>
	I'm flattered you're interested enough to subscribe. If you'd like, you can share your email with me -- given I run no analytics, this allows me to interact with users on their terms. I have no immediate plans for email right now, but may use them in future to share interesting technical projects. Every part of the form is optional.
</p>
<form class='gform pure-form pure-form-stacked' method='POST' data-email='ethan@ethanmye.rs' action='https://script.google.com/macros/s/AKfycbx0JQiV94HZPpVfe6L3DVBpnqyebwzHSIuGbrtWSWyqltptz-PX/exec'>
	<input type='text' id='name' name='name' placeholder='Name'>
	<input type='text' id='email' name='email' placeholder='Email'>
	<input type='text' id='msg' name='msg' placeholder='Message'>

	<input type='submit' value='Submit'>
</form>

