{{ define "main" }}
<header>
    <h1>{{ .Params.Title }}</h1>
</header>

{{.Content}}
<ul class="all-posts">
{{ range .Pages }}
<li><a href="{{ .URL |relURL }}"> {{ .Lastmod.Format "2006" }} - {{.Title}} </a></li>
{{end}}
</ul>
{{ end }}