{{ define "main" }}
<h1 class = "title">{{ .Title }}</h1>
<div>
	<p id="date"> Last Updated: {{ .Date.Format "1-2-2006" }} </p>
</div>
<div class = "content">{{ .Content }}</div>

<div>
<form class="gform" method="POST" data-email = "ethan@ethanmye.rs" action = "https://script.google.com/macros/s/AKfycbzsW2QwMzViHAi-TUG2e3kqkdScgvP9pZEANV4S3A/exec">
  </form>
</div>

{{ end }}