<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	{{ partial "seo_schema" . }}
	<title>{{ if not .IsHome }}{{ with .Title }}{{ . }} | {{ end }}{{ end }}{{ .Site.Title }}</title>
	<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{end }}{{ end }} ">
	<link rel="canonical" href="{{ .Permalink }}" />
	<link rel="stylesheet" href='{{ "css/style.css" | relURL }}' />
	<link rel="stylesheet" type="text/css" href='{{ "css/hugo-cite.css" | relURL }}' />
</head>