<header>
<nav>
    {{ $currentPage := . }}
    <span class="nav-item{{ if eq .RelPermalink "/" }} active{{ end }}">
        <a href="/" title="home">home</a>
    </span>
    {{ range .Site.Menus.navigation }}
    <span class="nav-item{{ if $currentPage.HasMenuCurrent "main" . }} active{{ end }}">
        <a href="{{ .URL }}" title="{{ .Name }}">{{ .Name }}</a>
    </span>
    {{ end }}
</nav>

{{ if or .Params.katex .Site.Params.katex }}
{{ partial "katex.html" . }}
{{ end }}

</header>
