body {
    font-family: sans-serif;
    margin: 1em 1em;
    max-width: 90%;
    margin: 1em auto;
    color: #3c3f49;
    background-color: #ffffff  
}

img {
    max-width: 75%;
    height: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#date {
    font-style: italic;
}

h1 {
    color: #e4a366 ;

}

a{
    color:#3c3f49;
}

a:hover{
    color: #666ee4;
}

.title {
    color: #e4a366;
}

.content {
    color: #3c3f49;
}

code {
    font-family: monospace;
    background-color: #f1f1f1;
    padding: 0.1em 0.1em;
    line-height: 135%;
    font-size: 110%;
    overflow-wrap: break-word;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: inline-block;
    color: #3c3f49;
    padding-right: 0.25em;
    text-decoration: none;
}

 ul {
    list-style-type: circle;
}

footer {
    color: grey;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #202020;
        color: #fafafa;
    }
    a{
        color:#fafafa;
    }
    img {
        filter: brightness(0.7)
    }

    img:hover {
        filter: brightness(1);
    }

    .content {
    color: #fafafa;
    }

    nav a {
    color: #fafafa;
    }

    code{
        background-color: #0e0e0e;
        overflow-wrap: break-word;
    }

}

input[type=text] {
    -webkit-appearance: none;
    width: 100%;
    background-color: #d3d3d3;
    padding: 1em 1em;
    margin: 0.5em auto;
    border-radius: 0.5em;
    display: inline-block;
    border: none;
    box-sizing: border-box;
}

input[type=submit] {
    -webkit-appearance: none;
    width: 100%;
    background-color: #e4a366;
    padding: 1em 1em;
    margin: 1em auto;
    border-radius: 0.5em;
    border-radius: 0.5em;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    color: white;
}

input[type=submit]:hover {
  background-color: #666ee4;
}

form
{
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
